<!-- Add this to your form.component.html -->
<app-loading [show]="loading$ | async" />
<div class="form-container">
  <h3 class="text-left mb-4 text-900 font-bold">{{header}} Project</h3>

  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="p-fluid grid formgrid">

    <div class="field col-12 ">
      <label for="title">Title</label>
      <input id="title" pInputText formControlName="title" style="width: 100%" />
    </div>

    <div class="field col-12">
      <label for="description">Description</label>
      <textarea id="description" rows="5" cols="30" pTextarea   formControlName="description"  style="width: 100%"></textarea>
    </div>

    <div class="field col-12 md:col-6">
      <label for="budget">Budget</label>
      <input id="budget" pInputText type="number" formControlName="budget"  style="width: 100%"  />
    </div>

    <div class="field col-12 md:col-6 ">
      <label for="deadline">Deadline</label>
      <p-calendar id="deadline" formControlName="deadline" inputStyleClass="w-full" ></p-calendar>
    </div>

    <div class="field col-12 md:col-6">
      <label for="status">Status</label>
      <p-dropdown id="status" [options]="statusOptions" formControlName="status"  inputStyleClass="w-full" > ></p-dropdown>
    </div>

    <div class="field col-12 md:col-6">
      <label for="category">Category</label>
      <p-dropdown id="category" [options]="categories" optionLabel="name" formControlName="category"  inputStyleClass="w-full" ></p-dropdown>
    </div>

<!--    <div class="field col-12">-->
<!--      <label for="client">Client</label>-->
<!--      <p-dropdown id="client" [options]="clients" optionLabel="username" formControlName="client"  inputStyleClass="w-full" ></p-dropdown>-->
<!--    </div>-->

<!--    <div class="field col-12 md:col-6">-->
<!--      <label for="selected_freelancer">Selected Freelancer</label>-->
<!--      <p-dropdown id="selected_freelancer" [options]="freelancers" optionLabel="username" formControlName="selected_freelancer"></p-dropdown>-->
<!--    </div>-->

    <div class="field col-12 md:col-12">
      <label for="location">Location</label>
      <input id="location" pInputText formControlName="location"  style="width: 100%"  />
    </div>


    <div class="field col-12 md:col-12">
      <label for="skills_required">Skills Required </label>
      <input id="skills_required" pInputText formControlName="skills_required"  style="width: 100%" />
    </div>

    <div class="field-checkbox col-12 md:col-6">
      <p-checkbox formControlName="is_public" binary="true" inputId="is_public"></p-checkbox>
      <label for="is_public">Public</label>
    </div>

    <div class="field-checkbox col-12 md:col-6">
      <p-checkbox formControlName="is_featured" binary="true" inputId="is_featured"></p-checkbox>
      <label for="is_featured">Featured</label>
    </div>

    <div class="field col-12 md:col-12">
      <label for="attachments">Attachments</label>
      <p-fileUpload name="attachments" customUpload="true" (uploadHandler)="onFileUpload($event)" accept=".pdf,.doc,.docx,.xls,.xlsx,image/*" ></p-fileUpload>
    </div>



    <div class="col-12 mt-3">
      <button pButton type="submit" label="Save Project" [disabled]="projectForm.invalid" class="w-full"></button>
    </div>

    <button (click)="onSubmit()">show</button>
    <button (click)="hide()">hide</button>
  </form>
</div>
