



<div class="grid">
  <!-- Desktop Sidebar -->
  <div *ngIf="isSidebarOpen" class="hidden md:block md:col-2">
    <div class="card h-full">
      <p-menu [style]="{ height: '100vh' }" [model]="items" class="flex justify-center" styleClass="w-full md:w-60">
        <ng-template #start>
          <span class="inline-flex items-center gap-1 px-2 py-2">
            <span class="text-xl font-semibold">Freelance<span class="text-primary">hub</span></span>
            <button (click)="toggle()">C</button>
          </span>
        </ng-template>
        <ng-template #submenuheader let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
          <a pRipple class="flex items-center p-menu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
            <p-badge *ngIf="item.badge" class="ml-auto" [value]="item.badge" />
          </a>
        </ng-template>


              <ng-template #end>
        <button style="border-bottom: azure;" pRipple class="relative overflow-hidden w-full border-0 bg-transparent flex items-start p-2 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mr-2" shape="circle" />
            <div class="user" >
                <span class="font-bold">Amy Elsner</span>
                <span class="text-sm">Admin</span>
            </div>
        </button>
    </ng-template>
      </p-menu>
    </div>
  </div>

  <!-- Main Content -->
  <div *ngIf="isSidebarOpen" class="col-12 md:col-10" style="padding: 30px;">
    <router-outlet />
  </div>
  <div  *ngIf="!isSidebarOpen"  class="col-12 md:col-12" style="padding: 30px;">
     <button (click)="toggle()">C</button>
    <router-outlet />
  </div>


</div>
