<!-- Centered full-page container -->
<div class="flex justify-content-center align-items-center min-h-screen bg-gray-100">
  <!-- Card -->
  <div class="surface-card p-5 shadow-3 border-round w-full sm:w-30rem">

    <!-- Title -->
    <h2 class="text-center mb-3 text-900 font-bold">Register</h2>
<!--    <p class="text-center text-600 mb-4">Kindly fill in this form to register.</p>-->

    <!-- Form -->
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="p-fluid">

      <!-- Username -->
      <div class="field mb-3">
        <label for="username" class="block text-900 mb-1">Username</label>
        <input id="username" pInputText formControlName="username"  style="width: 100%" />
        <p-message  variant="simple" size="small"  severity="error" *ngIf="registerForm.get('username')?.errors?.['required'] && registerForm.get('username')?.touched" text="Username is required."></p-message>
        <p-message  variant="simple" size="small"  severity="error" *ngIf="registerForm.get('username')?.errors?.['minlength'] && registerForm.get('username')?.touched" text="Minimum 3 characters."></p-message>
      </div>

      <!-- Email -->
      <div class="field mb-3">
        <label for="email" class="block text-900 mb-1">Email</label>
        <input id="email" pInputText formControlName="email" style="width: 100%" />
        <p-message  variant="simple" size="small"  severity="error" *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched" text="Email is required."></p-message>
        <p-message  variant="simple" size="small"  severity="error" *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.touched" text="Invalid email format."></p-message>
      </div>


      <!-- Password -->
      <div class="field w-full">
        <label for="password" class="block text-900 mb-1">Password</label>
        <p-password id="password" formControlName="password"   inputStyleClass="w-full"   toggleMask  />
        <p-message  variant="simple" size="small"  severity="error" *ngIf="registerForm.get('password')?.errors?.['required'] && registerForm.get('password')?.touched" text="Password is required."></p-message>
        <p-message  variant="simple" size="small"   severity="error" *ngIf="registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched" text="Minimum 8 characters."></p-message>
      </div>

      <!-- Confirm Password -->
      <div class="field w-full">
        <label for="password_confirm" class="block text-900 mb-1 "   >Confirm Password</label>
        <p-password  id="password_confirm" formControlName="password_confirm" toggleMask inputStyleClass="w-full"/>
        <p-message variant="simple" size="small" severity="error" *ngIf="registerForm.hasError('mismatch') && registerForm.get('password_confirm')?.touched" text="Passwords do not match."></p-message>
      </div>

      <!-- User Type -->
      <div class="field mb-3">
        <label for="user_type" class="block text-900 mb-1 w-full">User Type</label>
        <p-dropdown id="user_type" [options]="userTypes" formControlName="user_type" placeholder="Select a user type" class="w-full" />
        <p-message variant="simple" size="small" severity="error" *ngIf="registerForm.get('user_type')?.errors?.['required'] && registerForm.get('user_type')?.touched" text="User type is required."></p-message>
      </div>

      <!-- Submit -->
      <button pButton type="submit" label="Register" [disabled]="registerForm.invalid" class="p-button p-button-primary w-full mt-3"></button>

      <!-- Login Link -->
      <p class="text-center text-sm mt-4">
        Already have an account?
        <a class="text-primary hover:underline cursor-pointer">Log in</a>
      </p>
    </form>
  </div>
</div>
